@import "react-datepicker/dist/react-datepicker.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 255, 255;
  --foreground: 0, 0, 0;
  --border: 229, 231, 235;
  --primary: 27, 67, 50;
  --primary-foreground: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0, 0, 0;
    --foreground: 255, 255, 255;
    --border: 55, 65, 81;
    --primary: 27, 67, 50;
    --primary-foreground: 255, 255, 255;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
